<div>
  <h2>Options pour le consommateur</h2>
  <app-headset name="Meta Quest 3" imagePath="/meta-quest-3.png">
    <p>
      Le dernier casque de réalité virtuelle de Meta.
    </p>
  </app-headset>
  <app-headset name="Apple Vision Pro" imagePath="/apple-vision-pro.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
      tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
  </app-headset>
  <app-headset name="Valve Index" imagePath="/valve-index.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
      tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
  </app-headset>
  <app-headset name="PlayStation VR2" imagePath="/playstation-vr2.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
      tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
  </app-headset>
  <h2>Options pour les professionnels</h2>
  <app-headset name="Meta Quest Pro" imagePath="/meta-quest-3-pro.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
      tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
  </app-headset>
  <app-headset name="Microsoft Hololens 2" imagePath="/microsoft-hololens-2.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
      tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
  </app-headset>
  <app-headset name="HTC Vive Pro" imagePath="/htc-vive-pro.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
      tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
  </app-headset>
</div>
