<main>
  <h1>Termes et Définitions</h1>
  <h4>Cette section présente quelques termes reliés à la réalité virtuelle utilisés dans ce rapport</h4>
  <app-figure imgSrc="assets/img/vr-spectrum.png" imgAlt="Catégories VR">
    <b>Figure 1</b>: Spectre du continuum virtuel-physique des environnements virtuels<app-reference-link
      referenceId="xr-review"></app-reference-link>.
  </app-figure>
  <div class="list-container">
    <app-term-list></app-term-list>
  </div>
  <app-reference-list></app-reference-list>
</main>
