<div class="cards-container">
  <div class="card-container">
    <app-term name="Réalité Virtuelle" id="def-vr">
      <p class="mat-body-1">
        La réalité virtuelle (<i>Virtual Reality</i>, VR) est une technologie qui permet l'immersion d'un utilisateur
        dans une représentation virtuelle, tridimensionnelle, et multisensorielle générée par ordinateur d'un
        environnement réel ou artificiel. Pratiquement, en général elle correspond à une interface graphique
        interactive, possiblement améliorée à l'aide de retours auditifs et haptiques, permettant à l'utilisateur de
        ressentir la présence d'un environnement physique réel<app-reference-link referenceId="modern-vr" />.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Réalité Augmentée" id="def-ar">
      <p class="mat-body-1">
        Le terme « réalité augmentée » (<i>Augmented Reality</i>, AR) a été introduit en 1992 par Thomas Caudell
        (Boeing), lors du développement d'une application AR pour visualiser des diagrammes. Le terme décrit une réalité
        physique, dans laquelle les utilisateurs ont la possibilité de voir et interagir avec des éléments
        virtuels<app-reference-link referenceId="ar-overview" />.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Réalité Mixte" id="def-mr">
      <p class="mat-body-1">
        La réalité mixte (<i>Mixed Reality</i>, MR) fait référence aux environnements virtuels qui permettent la
        coexistence entre les objets physiques, et les entités virtuelles<app-reference-link
          referenceId='xr-review'></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Réalité Étendue" id="def-xr">
      <p class="mat-body-1">
        La réalité étendue (<i>Extended Reality</i>, XR) est un terme générique, qui englobe la réalité virtuelle, la
        réalité augmentée, et la réalité mixte<app-reference-link referenceId="xr-review"></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Visiocasque" id="def-hmd">
      <p class="mat-body-1">
        Un visiocasque (<i>Head-Mounted Display</i>, HMD) est une unité d'affichage qui se porte sur la tête et qui
        permet à un utilisateur de voir des images artificielles en trois dimensions. Ils sont plus simples que les
        casques de réalité virtuelle. Le terme ne fait référence qu'au composant dédié à afficher les images
        <app-reference-link referenceId="hmd" />.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Casque de Réalité Virtuelle" id="def-headset">
      <p class="mat-body-1">
        Un casque de réalité virtuelle (aussi appelé <i>headset</i>) est un type particulier de visiocasque, destiné
        à la réalité virtuelle. Souvent ils sont équipés de capteurs de mouvement, de caméras, et de microphones pour
        permettre à l'utilisateur de voir et d'entendre un environnement artificiel<app-reference-link
          referenceId="modern-vr-headsets"></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Standalone" id="def-standalone">
      <p class="mat-body-1">
        Un casque de réalité virtuelle <i>standalone</i> est un casque qui ne nécessite pas d'être connecté à un
        ordinateur ou un téléphone intelligent pour fonctionner. Il contient tous les composants de hardware
        nécessaires, ainsi qu'un système d'exploitation, pour fonctionner de manière autonome<app-reference-link
          referenceId="modern-vr-headsets"></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Tethered" id="def-tethered">
      <p class="mat-body-1">
        Un casque de réalité virtuelle <i>tethered</i> est un casque qui doit être connecté à un ordinateur pour
        fonctionner. Ainsi, bien qu'ils soient moins pratiques, ils ne sont pas limités par les contraintes de batterie
        et de puissance de calcul imposées aux casques <i>standalone</i><app-reference-link
          referenceId="modern-vr-headsets"></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Spatial Computing" id="def-sc">
      <p class="mat-body-1">
        Le <i>Spatial Computing</i> (informatique spatiale) est une technologie qui fusionne les mondes physique en
        numérique. Il utilise des capteurs, des jumeaux numériques d'objets et de personnes, ainsi qu'une cartographie
        spatiale pour suivre et contrôler la façon dont les objects interagissent. Les technologies de VR permettent
        d'insérer les humains dans un système de <i>Spatial Computing</i><app-reference-link
          referenceId="spatial-computing"></app-reference-link>.
      </p>
    </app-term>
  </div>
</div>
