<div>
  <app-term name="Réalité Virtuelle">
    <p>
      La réalité virtuelle (RV) est un environnement de simulation généré par ordinateur qui permet à un utilisateur
      d'interagir de manière réaliste avec un environnement artificiel. La réalité virtuelle est souvent utilisée pour
      simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la réalité.
    </p>
  </app-term>
  <app-term name="Réalité Mixte">
    <p>
      La réalité mixte (RM) est un environnement de simulation généré par ordinateur qui permet à un utilisateur
      d'interagir de manière réaliste avec un monde réel et un environnement artificiel. La réalité mixte est souvent
      utilisée pour simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la réalité.
    </p>
  </app-term>
  <app-term name="Réalité Augmentée">
    <p>
      La réalité augmentée (RA) est un environnement de simulation généré par ordinateur qui permet à un utilisateur
      d'interagir de manière réaliste avec un monde réel et un environnement artificiel. La réalité augmentée est
      souvent utilisée pour simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la
      réalité.
    </p>
  </app-term>
  <app-term name="Réalité Étendue">
    <p>
      La réalité étendue (RE) est un environnement de simulation généré par ordinateur qui permet à un utilisateur
      d'interagir de manière réaliste avec un monde réel et un environnement artificiel. La réalité étendue est souvent
      utilisée pour simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la réalité.
    </p>
  </app-term>
  <app-term name="Casque de Réalité Virtuelle">
    <p>
      Un casque de réalité virtuelle (aussi appelé headset ou visiocasque) est un appareil qui permet à un utilisateur
      de voir et d'entendre un environnement artificiel. Les casques de réalité virtuelle sont souvent utilisés pour
      simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la réalité.
    </p>
  </app-term>
  <app-term name="Spatial Computing">
    <p>
      Le spatial computing est un environnement de simulation généré par ordinateur qui permet à un utilisateur
      d'interagir de manière réaliste avec un monde réel et un environnement artificiel. Le spatial computing est
      souvent utilisé pour simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la
      réalité.
    </p>
  </app-term>
</div>
