<div class="cards-container">
  <div class="card-container">
    <app-term name="Réalité Virtuelle">
      <p class="mat-body-1">
        La réalité virtuelle (<i>Virtual Reality</i>, VR) est une technologie qui permet l'immersion d'un utilisateur
        dans une représentation virtuelle, tridimensionnelle, et multisensorielle générée par ordinateur d'un
        environnement réel ou artificiel. Pratiquement, en général elle correspond à une interface graphique
        interactive, possiblement améliorée à l'aide de retours auditifs et haptiques, permettant à l'utilisateur de
        ressentir la présence d'un environnement physique réel<app-reference-link referenceId="modern-vr" />.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Réalité Augmentée">
      <p class="mat-body-1">
        Le terme « réalité augmentée » (<i>Augmented Reality</i>, AR) a été introduit en 1992 par Thomas Caudell
        (Boeing), lors du développement d'une application AR pour visualiser des diagrammes. Le terme décrit une réalité
        physique, dans laquelle les utilisateurs ont la possibilité de voir et interagir avec des éléments
        virtuels<app-reference-link referenceId="ar-overview" />.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Réalité Mixte">
      <p class="mat-body-1">
        La réalité mixte (<i>Mixed Reality</i>, MR) fait référence aux environnements virtuels qui permettent la
        coexistence entre les objets physiques, et les entités virtuelles<app-reference-link
          referenceId='xr-review'></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Réalité Étendue">
      <p class="mat-body-1">
        La réalité étendue (<i>Extended Reality</i>, XR) est un terme générique, qui englobe la réalité virtuelle, la
        réalité augmentée, et la réalité mixte<app-reference-link referenceId="xr-review"></app-reference-link>.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Casque de Réalité Virtuelle">
      <p class="mat-body-1">
        Un casque de réalité virtuelle (aussi appelé headset ou visiocasque) est un appareil qui permet à un utilisateur
        de voir et d'entendre un environnement artificiel. Les casques de réalité virtuelle sont souvent utilisés pour
        simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la réalité.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Visiocasque">
      <p class="mat-body-1">
        Un visiocasque (<i>Head-Mounted Display</i>, HMD) est une unité d'affichage qui se porte sur la tête et qui
        permet à un utilisateur de voir des images artificielles en trois dimensions. Ils sont plus simples que les
        casques de réalité virtuelle. Le terme ne fait référence qu'au composant dédié à afficher les images
        <app-reference-link referenceId="hmd" />.
      </p>
    </app-term>
  </div>
  <div class="card-container">
    <app-term name="Spatial Computing">
      <p class="mat-body-1">
        Le spatial computing est un environnement de simulation généré par ordinateur qui permet à un utilisateur
        d'interagir de manière réaliste avec un monde réel et un environnement artificiel. Le spatial computing est
        souvent utilisé pour simuler des situations qui sont dangereuses, coûteuses ou peu pratiques à simuler dans la
        réalité.
      </p>
    </app-term>
  </div>
</div>
