<h1>Applications</h1>
<div class="application-element">
  <h2>Collaboration</h2>

  <h4>
    Depuis le début de la pandémie mondiale de COVID en 2020, les outils de collaboration à distance jouent un rôle de
    plus en plus important dans la dynamique d’une entreprise. Depuis quelques années, les entreprises ont commencé à
    explorer les avantages de la collaboration en réalité virtuelle (VR) pour les réunions et les projets
    d'équipe<app-reference-link referenceId="collaboration-survey"></app-reference-link>.
  </h4>
  <h4>
    Aujourd'hui, on peut trouver plusieurs options sur le marche intégrant la réalité virtuelle. Les outils de
    collaboration VR les plus populaires :
  </h4>
  <ul>
    <li>
      <a href="https://forwork.meta.com/fr/en/horizon-workrooms/" target="_blank" rel="noopener noreferrer">Meta
        Horizon Workrooms</a>
    </li>
    <li>
      <a href="https://immersed.com/" target="_blank" rel="noopener noreferrer">Immersed VR</a>
    </li>
    <li>
      <a href="https://www.meetinvr.com/" target="_blank" rel="noopener noreferrer">MeetinVR</a>
    </li>
  </ul>

  <h4>
    Des études montrent comment l'utilisation de ces outils peut aider à contrecarrer les effets négatifs associés aux
    alternatives de collaboration à distance non VR, telles que la fatigue de Zoom et la perte de concentration. Le fait
    d'entrer dans un environnement VR permet d'éviter le multitasking et de se concentrer sur la tâche en question.
    Néanmoins, actuellement ces outils ne peuvent pas remplacer complètement les outils classiques dans toutes les
    situations<app-reference-link referenceId="horizons"></app-reference-link>.
  </h4>

  <app-figure imgSrc="assets/img/workrooms.png" imgAlt="Horizon Workrooms">
    <b>Figure 1</b>: Salle de collaboration dans Meta Horizon Workrooms.
  </app-figure>
</div>

<div class="application-element">
  <h2>Éducation</h2>
  <h4>
    La figure 2 montre l'utilisation des technologies VR dans l'éducation pour chaque domaine. Ces technologies en tant
    qu'outil éducatif sont principalement utilisées dans l'informatique, les sciences sociales, l'ingénierie et la
    médecine.<app-reference-link referenceId="ar-vr-education"></app-reference-link>.
  </h4>
  <h4>
    Notamment, dans le domaine des sciences sociales, ils sont populaires pour proposer des visites culturelles de
    musées et d’expositions<app-reference-link referenceId="ar-vr-education"></app-reference-link>.
  </h4>
  <app-figure imgSrc="assets/img/education-pie.jpg" imgAlt="Education Pie Chart">
    <b>Figure 2</b>: Diagramme circulaire montrant les pourcentages d'études sur l'utilisation des technologies VR dans
    l'éducation pour chaque domaine<app-reference-link referenceId="ar-vr-education"></app-reference-link>.
  </app-figure>

</div>

<div class="application-element">
  <h2>Conception et Design</h2>

  <h4>
    Les technologies VR ont été intégrées aux flux de travail d'ingénierie et d'architecture pour faciliter les tâches
    liées à la conception des produits et des processus. Les outils de conception en VR permettent aux ingénieurs et
    aux architectes de visualiser et de manipuler des modèles 3D de manière interactive, ce qui facilite la
    communication et la collaboration entre les membres de l'équipe. En général, ces outils se sont avérés
    particulièrement utiles pour les premières étapes de la conception et pour la visualisation
    spatiale<app-reference-link referenceId="vr-engineering"></app-reference-link>.
  </h4>

  <h4>
    Certains outils logiciels populaires qui permettent aux ingénieurs et aux architectes de concevoir en VR incluent :
  </h4>
  <ul>
    <li>
      <a href="https://hololight.com/" target="_blank" rel="noopener noreferrer">Hololight</a>
    </li>
    <li>
      <a href="https://www.irisvr.com/" target="_blank" rel="noopener noreferrer">IrisVR</a>
    </li>
    <li>
      <a href="https://www.unity.com/" target="_blank" rel="noopener noreferrer">Unity</a>
    </li>
    <li>
      <a href="https://www.resolvebim.com/" target="_blank" rel="noopener noreferrer">Resolve</a>
    </li>
  </ul>

  <app-figure imgSrc="assets/img/resolve-vr.png" imgAlt="Resolve VR collaboration">
    <b>Figure 2</b>: Resolve VR permet la collaboration pour permettre la visualisation collective de modèles
    d'architecture et de génie civil.
  </app-figure>
</div>

<div class="application-element">
  <h2>Médecine</h2>

  <h4>
    La réalité virtuelle et augmentée sont amplement utilisées pour la planification des chirurgies (<i>surgical
      planning</i>). La planification chirurgicale permet aux chirurgiens de pre-visualiser une intervertion
    chirurgicale, afin de prédéfinir les étapes à suivre et de reconnaître les points à traiter pendant la
    chirurgie. Il
    s’agit d’une pratique courante dans la plupart des cas. Traditionnellement, la procédure repose sur l'analyse
    des
    examens médicaux (statiques, 2D). Les technologies VR permettent de créer des modèles interactifs anatomiques
    3D.
    L'utilisation de ces technologies s'est avérée améliorer la compréhension spatiale des structures anatomiques,
    ce
    qui pourrait potentiellement améliorer la chirurgie et la sécurité des patients<app-reference-link
      referenceId="vr-surgical-planning"></app-reference-link>.
  </h4>
  <app-figure imgSrc="assets/img/surgical-planning.png" imgAlt="Surgical planning model">
    <b>Figure 5</b>: Modèle 3D interactive d'un foie destiné à la planification chirurgicale en VR.
  </app-figure>

  <h4>
    Les technologies VR se sont également révélées utiles dans d’autres domaines, tels que la manipulation de robots
    chirurgicaux, en tant que ressource thérapeutique pour les patients lors de leur rétablissement après une
    intervention chirurgicale et pour leur réadaptation<app-reference-link
      referenceId="vr-neuro-apps"></app-reference-link>.
  </h4>

  <h4>
    Enfin, comme mentionné précédemment, la réalité virtuelle a également été largement utilisée pour la formation
    médicale<app-reference-link referenceId="vr-neuro-apps"></app-reference-link><app-reference-link
      referenceId="vr-spine"></app-reference-link>.
  </h4>

  <app-figure imgSrc="assets/img/medical-training.png" imgAlt="Medical training">
    <b>Figure 6</b>: Entraînement en utilisant des applications VR<app-reference-link
      referenceId="vr-spine"></app-reference-link>.
  </app-figure>
</div>

<div class="application-element">
  <h2>Immobilier</h2>

  <h4>
    L'immobilier est un autre domaine qui a adopté la réalité virtuelle pour améliorer l'expérience client. Les
    visites
    virtuelles permettent aux acheteurs potentiels de visiter des propriétés sans avoir à se déplacer physiquement.
    Les
    agents immobiliers peuvent également utiliser la réalité virtuelle pour montrer des propriétés à distance et
    organiser des visites virtuelles en temps réel<app-reference-link
      referenceId="vr-real-estate-2"></app-reference-link>.
  </h4>

  <h4>
    On trouve aujourd'hui des entreprises telles que Matterport et Openspace proposant des services d'imagerie 3D
    pour
    capturer un immeuble et générer un modèle 3D accessible en ligne grâce aux technologies VR, qui permettent aux
    locataires potentiels de faire une visite virtuelle réaliste.
  </h4>

  <h4>
    Des études montrent comment l'utilisation de la réalité virtuelle à immersion faible pour réaliser ces visites
    virtuelles a eu un impact positif général dans les profits
    de l'industrie, en augmentant le taux de location par immeuble offert et en proposant des visites satisfaisantes
    à plus de clients <app-reference-link referenceId="vr-real-estate"></app-reference-link>. L'immersion faible
    correspond à montrer des environnement virtuels dans des dispositifs qui m'offrent pas une expérience
    d'immersion
    complète, tel que les smartphones et les tablets.
  </h4>

  <app-figure imgSrc="assets/img/matterport.png" imgAlt="Matterport Virtual Model">
    <b>Figure 7</b>: Modèle 3D Matterport d'un immeuble.
  </app-figure>

</div>
