<h1>Applications</h1>
<div class="application-element">
  <h2>Collaboration</h2>

  <h4>
    Depuis le début de la pandémie mondiale de COVID en 2020, les outils de collaboration à distance jouent un rôle de
    plus en plus important dans la dynamique d’une entreprise. Depuis quelques années, les entreprises ont commencé à
    explorer les avantages de la collaboration en réalité virtuelle (VR) pour les réunions et les projets
    d'équipe<app-reference-link referenceId="collaboration-survey"></app-reference-link>.
  </h4>
  <h4>
    Aujourd'hui, on peut trouver plusieurs options sur le marche intégrant la réalité virtuelle. Les outils de
    collaboration VR les plus populaires :
  </h4>
  <ul>
    <li>
      <a href="https://forwork.meta.com/fr/en/horizon-workrooms/" target="_blank" rel="noopener noreferrer">Meta
        Horizon Workrooms</a>
    </li>
    <li>
      <a href="https://immersed.com/" target="_blank" rel="noopener noreferrer">Immersed VR</a>
    </li>
    <li>
      <a href="https://www.meetinvr.com/" target="_blank" rel="noopener noreferrer">MeetinVR</a>
    </li>
  </ul>

  <h4>
    Des études montrent comment l'utilisation de ces outils peut aider à contrecarrer les effets négatifs associés aux
    alternatives de collaboration à distance non VR, telles que la fatigue de Zoom et la perte de concentration. Le fait
    d'entrer dans un environnement VR permet d'éviter le multitasking et de se concentrer sur la tâche en question.
    Néanmoins, actuellement ces outils ne peuvent pas remplacer complètement les outils classiques dans toutes les
    situations<app-reference-link referenceId="horizons"></app-reference-link>.
  </h4>

  <app-figure imgSrc="assets/img/workrooms.png" imgAlt="Horizon Workrooms">
    <b>Figure 1</b>: Salle de collaboration dans Meta Horizon Workrooms.
  </app-figure>
</div>

<div class="application-element">
  <h2>Éducation</h2>
  <app-figure imgSrc="assets/img/education-pie.jpg" imgAlt="Education Pie Chart">
    <b>Figure 2</b>: Diagramme circulaire montrant les pourcentages d'études sur l'utilisation des technologies VR dans
    l'éducation pour chaque domaine<app-reference-link referenceId="ar-vr-education"></app-reference-link>.
  </app-figure>

  La figure 2 montre l'utilisation des technologies VR dans l'éducation pour chaque domain. Il y a clairement u
</div>

<div class="application-element">
  <h2>Conception et Design</h2>
</div>

<div class="application-element">
  <h2>Médecine</h2>
</div>

<div class="application-element">
  <h2>Immobilier</h2>
</div>
